{% load static %}

<footer class="footer">
    <!-- Social Links Section -->
    <div class="social-links">
        
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-square-facebook"></i> 
        </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-google"></i>
        </a>
    </div>

    <!-- Copyright Section -->
    <div class="copyright">
        &copy; 2024 Kushpedia. All rights reserved.
    </div>
</footer>